html,
body {
  width: 100%;
  height: 4000px;
}
.home {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.navbar {
  width: fixed(100%);
  height: 169px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  position: fixed;
  z-index: 10;
}
.topbar {
  width: 100%;
  height: hug(72px);
  display: flex;
  justify-content: space-between;
  padding: 14px 108px 20px 108px;
  box-shadow: #6969691f 0px 0px 4px;
}
.musteri-option {
  width: hug(357px);
  height: 40px;
  display: flex;
  border-radius: 8px;
  box-shadow: #0000004e 0px 0px 4px;
}
.ferdi-musderi {
  display: flex;
  width: hug(200px);
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--maincolor);
  color: var(--maincolor);
  padding: 10px;
  gap: 10px;
  transition: all 0.8s;
  text-align: center;
}
.ferdi-musderi p {
  height: 18px;
  width: 127px;
  font-family: mulish, sans-serif;
  font-weight: 700;
  font-style: medium;
  font-size: 16px;
  line-height: 100%;
  margin-top: 2px;
}
.ferdi-musderi:hover {
  background-color: var(--maincolor);
  color: #ffffff;
  cursor: pointer;
  transform: scale(1.05);
}
.comporativ-musteri {
  width: hug(157px);
  height: 40px;
  border-radius: 8px;
  border-top: 1px;
  border-right: 1px;
  border-bottom: 1px;
  padding: 10px;
  gap: 10px;
  color: #000000;
  transition: all 0.8s;
  text-align: center;
  z-index: 2;
  display: flex;
}
.comporativ-musteri p {
  width: 167px;
  height: 18px;
  font-family: mulish, sans-serif;
  font-weight: 600;
  font-style: medium;
  font-size: 16px;
  line-height: 100%;
  margin-top: 2px;
}
.comporativ-musteri:hover {
  background-color: rgba(220, 220, 220, 0.511);
  cursor: pointer;
  transform: scale(1.03);
  z-index: 2;
}
.top-bar-sec {
  width: hug(226px);
  height: hug(24px);
  display: flex;
  gap: 58px;
}
.online-odenis {
  display: flex;
  width: hug(124px);
  height: hug(24px);
  gap: 8px;
  align-items: center;
}
.credit-cart {
  width: 27px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.credit-cart img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.online-odenis p {
  width: hug(150px);
  height: 18px;
  font-family: mulish;

  font-weight: 500px;
  font-style: medium;
  font-size: 16px;
  line-height: 100%;
  cursor: pointer;
  margin-bottom: 0px;
}

.btn.btn-secondary.dropdown-toggle {
  background-color: white;
  color: #000000;
  border: none;
}
.dropdown-toggle {
  font-family: Mulish;
  font-weight: 600;
}
.dropdown-menu {
  min-width: min-content;
  padding: 10px 5px;
}
.dropdown-item:active,
.dropdown-item:focus {
  background-color: rgba(222, 222, 222, 0.681);
  border-radius: 5px;
  color: #000000;
}
.navbar-down {
  width: 100%;
  height: 90px;
  display: flex;
  padding: 6px 108px;
  gap: 260px;
}
.navbar-sec-2 {
  width: hug(925px);
  height: hug(36px);
  display: flex;
  gap: 75px;
  align-items: center;
}
.search {
  display: flex;
  align-items: center;
  width: 200px;
  height: 36px;
}
.search form label {
  margin-left: 14px;
}
.search form input {
  padding-left: 60px;
}
.search input {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.d-flex {
  width: 100%;

  height: 100%;
}
.navbar-sec-1 {
  display: flex;
  width: hug(630px);
  height: hug(36px);
  gap: 60px;
}
.navbar-content {
  width: hug(444px);
  height: hug(24px);
}
.navbar-content ul {
  gap: 22px;
}
.navbar-content ul li,
.navbar-content ul li a {
  font-family: mulish, sans-serif;
  font-weight: bold;
  font-style: medium;
  font-size: 16px;
  line-height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.5s;
  text-decoration: none;
  color: #000000;
}
.navbar-content ul li a p {
  margin: 0;
  transition: all 0.5s;
}
.navbar-content ul li:hover,
.navbar-content ul li a:hover,
.navbar-content ul li a p:hover {
  color: var(--maincolor);
  transform: scale(1.02);
}
.book-call {
  width: hug(136px);
  height: fixed(36px);
  border-radius: 16px;
  padding: 10px 10px;
  gap: 10px;
  background-color: var(--secondarycolor);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.book-call p {
  width: 98px;
  height: 20px;
  font-family: mulish, sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 100%;
  cursor: pointer;
  margin-bottom: 0px;
}
.book-call:hover {
  background-color: #000000;
  color: var(--maincolor);
  border: 3px solid var(--maincolor);
  transform: scale(1.05);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.book-call:active {
  background-color: #ffcb47;
  transform: scale(0.999);
  color: white;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
main {
  width: 100%;
  height: 100%;
}
main > p {
  height: 136px;
  padding-top: 193px;
  padding-left: 108px;
}
main > p,
main > p > span {
  font-size: 57px;
  font-weight: 700;
  font-family: Mulish;
  font-style: bold;
  line-height: 100%;
  cursor: pointer;
  letter-spacing: 1px;
}
main > p > span {
  color: var(--maincolor);
}

.locations {
  height: hug(46px);

  padding-top: 160px;
  display: flex;
  justify-content: space-evenly;

  gap: 28px;
}
.locations > div {
  width: 160px;
  height: 46px;
  border-radius: 8px;
  border: 1px solid #f4f4f4;
  background-color: #ededed;
  margin-left: 10px;
  display: flex;
  gap: 10px;
  padding: 10px;
  text-align: end;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 5px 5px,
    rgba(0, 0, 0, 0.07) 0px 10px 10px;
  transition: all 1s;
}
.locations > div:hover {
  transform: scale(1.05);
  background-color: #e2e2e2;
  cursor: pointer;
  border-radius: 16px;
}

.locations > div img {
  width: 35px;
  height: 24px;
  border-radius: 5px;
}
.locations > div p {
  font-size: 16px;
  font-family: Mulish;
  font-weight: 600;
  font-style: SemiBold;
  line-height: 100%;
  margin: 0px;
}
.bread-crumb {
  height: 20px;
  padding-top: 182px;
  padding-left: 108px;
}
.breadcrumb-item,
.breadcrumb-item a {
  font-family: Mulish;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;

  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
  transition: all 0.8s;
}

.breadcrumb-item a:hover,
.breadcrumb-item:hover,
.breadcrumb-item a img:hover {
  color: var(--maincolor);
  transform: scale(1.02);
}
.haqqimizda-navbar {
  width: 100%;
  height: 46px;
  display: flex;
  padding-top: 54px;
  gap: 25px;
  justify-content: center;
}
.haqqimizda-navbar div {
  width: 100%;
  height: 46px;
  display: flex;
  border-bottom: 1px solid #e9ebf27d;
  gap: 30px;
  justify-content: center;
}
.haqqimizda-navbar div div {
  width: auto;
  height: 46px;
  padding: 10px;
}
.haqqimizda-navbar div div a {
  font-family: Mulish;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  text-decoration: none;
  line-height: 26px;
  letter-spacing: 0%;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #000000;
}
.haqqimizda-navbar div div a:hover {
  transform: scale(1.04);
  color: black;
}
.haqqimizda-navbar .haqqimizda {
  color: var(--secondarycolor);
  border-bottom: 1px solid var(--secondarycolor);
}
.section1 {
  padding-top: 115px;
  display: flex;
}

.but-hhaqqimizda {
  width: 351px;
  height: 48px;
  display: flex;

  gap: 12px;
  align-items: center;
}
.line2 {
  width: 52px;
  background-color: var(--secondarycolor);
  border: 2px solid var(--secondarycolor);
}
.pages {
  width: 287px;
  height: 48px;
  font-family: Mulish;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;

  line-height: 150%;
}
.section1-text {
  width: 565px;
  height: 36px;
  padding-top: 24px;
  font-family: Mulish;
  font-weight: 400;
  font-style: Italic;
  font-size: 24px;
  line-height: 150%;
}
.section1-img {
  width: 600px;
  height: 375px;
  padding-top: 64px;
  border-radius: 8px;
}
.section1-img img {
  border-radius: 16px;
  cursor: pointer;
}
.container-text {
  padding-left: 44px;
}
.section1-main-text {
  width: 715px;
  height: 519px;
  font-family: Mulish;
  font-weight: 600;
  font-style: Regular;
  font-size: 16px;
  line-height: 33px;
  letter-spacing: 0%;
  color: #4c4c4c;
}
.section2 {
  padding-top: 104px;
  display: flex;
}
.xidmet-sayi {
  width: 600px;
  height: 690px;
  background: #1d1d1d;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.testimonials {
  width: 228px;
  height: 596px;
  padding-top: 47px;
  padding-left: 108px;
  gap: 32px;
}
.line {
  width: 228px;
  height: 25%;
  gap: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-width: 1px;
  padding-top: 20px;
  padding-right: 8px;
  padding-bottom: 10px;
  padding-left: 8px;
  border-bottom: 1px solid #343434;
  cursor: pointer;
}

.line p:not(:last-child) {
  font-family: Mulish;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  color: #ffffff;
}
.line p:last-child {
  font-family: Mulish;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}
.section2-text {
  padding-left: 44px;
  width: 715px;
}
.but-missia {
  width: 351px;
  height: 48px;
  display: flex;
  align-items: center;

  gap: 12px;
}
.but-text {
  font-family: Mulish;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;
  line-height: 150%;
  color: #111827;
}
.missia-text {
  width: 504;
  height: 104;
  padding-top: 16px;
  font-family: Mulish;
  font-weight: 500;
  font-style: Regular;
  font-size: 17px;
  color: #4c4c4c;
  line-height: 26px;
  text-align: justify;
}
.container-box {
  width: 100%;
  height: 384px;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  padding-top: 28px;
}
.box {
  width: 316px;
  height: 200px;
  border-radius: 12px;
  border-width: 1px;
  border: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
}
.box:hover {
  transform: scale(1.03);
  border-radius: 16px;
  border: 2px solid #cfcfcf;
}
.text-and-icon {
  width: 170px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.text-and-icon-2 {
  width: 90%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.text-and-icon img {
  width: 70px;
  height: 70px;
}
.text-and-icon-2 img {
  width: 70px;
  height: 70px;
}
.text-and-icon p {
  font-family: Mulish;
  font-weight: 600;
  font-style: Medium;
  font-size: 20px;
  line-height: 150%;
}
.text-and-icon-2 p {
  font-family: Mulish;
  font-weight: 600;
  font-style: Medium;
  font-size: 20px;
  line-height: 150%;

  text-align: center;
}
.but-work {
  width: 351px;
  height: 48px;
  padding-top: 120px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.section3 {
  width: 1200px;
  height: auto;

  margin-top: 100px;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.container-box1 {
  width: 1200px;
  height: 100%;

  padding: 0;
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.box-right,
.box-left {
  width: 49%;
  height: 205px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container-box1 > div:hover {
  transform: scale(1.01);
}

.box-right {
  align-self: flex-end;
  text-align: left;
  padding-left: 5px;
}
.box-left {
  text-align: right;
}
.container-scroll {
  position: absolute;
  z-index: 1;
  align-self: center;
}
.container-scroll img {
  height: 100%;
  cursor: pointer;
}
.container-box1 div div img {
  width: 44px;
  height: 44px;
}
.box-left div {
  align-items: end;
}
.container-box1 div div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 95%;
}
.container-box1 div div p:nth-child(odd) {
  font-family: Mulish;
  font-weight: 700;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 150%;

  color: #111827;
}
.container-box1 div div p:nth-child(even) {
  font-family: Mulish;
  font-weight: 500;
  font-style: Regular;
  font-size: 18px;
  line-height: 26px;
  color: #4c4c4c;
  letter-spacing: 2px;
}
